# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Pytest / reports
.pytest_cache/
.coverage
htmlcov/

# Reports (keep folders via .gitkeep)
reports/screenshots/*
reports/videos/*
reports/allure-results/*
!reports/screenshots/.gitkeep
!reports/videos/.gitkeep
!reports/allure-results/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tool caches
.ruff_cache/

# Allure output (some setups write here too)
allure-results/

# Extra artifacts created by root conftest
reports/traces/*
reports/logs/*
!reports/traces/.gitkeep
!reports/logs/.gitkeep

*.log
.vscode/settings.json
