# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Pytest / reports
.pytest_cache/
.coverage
htmlcov/

# Reports (keep folders via .gitkeep)
reports/screenshots/*
reports/videos/*
reports/allure-results/*
!reports/screenshots/.gitkeep
!reports/videos/.gitkeep
!reports/allure-results/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
